.THIS {
    background-color:ORANGE;
    padding-top:12px;
}

h1.THIS
{
    font-size:30px;
    font-weight:BOLD;
    padding-top:12px;
}

.THIS .red
{
    background-color:red;
    padding-top:12px;
}

.THIS .yellow
{
    background-color:yellow;
    padding-top:12px;
}

.THIS .lightblue
{
    background-color:lightblue;
    padding-top:12px;
}